@model IEnumerable<Stock_Invoice.Models.ProductItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQuantity)
            </td>
            <td>
                    @Convert.ToDateTime(item.ExpDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
